body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    padding: 10px 10px 10px 10px;

}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.expense-list {
    margin-top: 20px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.expense-item .remove-item {
    color: #f00;
    cursor: pointer;
}

h3 {
    margin-top: 20px;
    text-align: center;
}
